<%- include("./layouts/header.ejs") %> 
    <br><br><br>
    <div class="card mb-3 pt-3">
        <div class="mg-b-15">
            <div class="container mb-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Danh sách giao dịch rút tiền chờ phê duyệt</h4>
                <br>
                <div>
                    <table class="table table-bordered text-center">
                        <tr>
                            <th>STT</th>
                            <th>Mã giao dịch</th>
                            <th>Số tiền</th>
                            <th>Thời gian thực hiện</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NT01</td>
                            <td>7.000.000 đ</td>
                            <td>10:13 - 11/05/2022</td>
                            <td>Chờ phê duyệt</td>
                            <td> <a href="../views/withdraw-approval-detail.ejs">Xem chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>NT02</td>
                            <td>6.000.000 đ</td>
                            <td>10:13 - 11/05/2022</td>
                            <td>Chờ phê duyệt</td>
                            <td> <a href="../views/withdraw-approval-detail.ejs">Xem chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>NT03</td>
                            <td>8.000.000 đ</td>
                            <td>10:13 - 11/05/2022</td>
                            <td>Chờ phê duyệt</td>
                            <td> <a href="../views/withdraw-approval-detail.ejs">Xem chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NT01</td>
                            <td>7.000.000 đ</td>
                            <td>10:13 - 11/05/2022</td>
                            <td>Chờ phê duyệt</td>
                            <td> <a href="../views/withdraw-approval-detail.ejs">Xem chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>NT02</td>
                            <td>6.000.000 đ</td>
                            <td>10:13 - 11/05/2022</td>
                            <td>Chờ phê duyệt</td>
                            <td> <a href="../views/withdraw-approval-detail.ejs">Xem chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>NT03</td>
                            <td>8.000.000 đ</td>
                            <td>10:13 - 11/05/2022</td>
                            <td>Chờ phê duyệt</td>
                            <td> <a href="../views/withdraw-approval-detail.ejs">Xem chi tiết</a></td>
                        </tr>

                    </table>
                </div>
                <div class="custom-pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2018. All rights reserved. Template by <a
                                href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include("./layouts/footer.ejs") %> 